body {
	font-family: 'メイリオ', Meiryo,'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ＭＳ ゴシック',sans-serif;
}

.header {
	border-top: solid 1px #e0e0e0;
	height: 120px;
}

.header-contents {
	margin-top: 20px;
	background-color: #ffffff;
	width: auto;
	padding: 10px;
}

.header-left {
	width: auto;
}

.header-right {
	width: auto;
}

.header-menu {
	font-size: 20px;
}

.nav-justified {
	background-color: #fafafa;
}

.nav-justified>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-weight: bold;
	color: #243433;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.nav-justified>li>a:hover {
	color: #c39675;
}

.main-contents {
	padding: 20px;
	color: #000000;
}

.contents {
	border-top: solid 1px #e0e0e0;
	background-color: #E6E6E6;
	padding: 10px;
	color: #000000;
}

.contents-left {
	background-color: #E6E6E6;
	width: auto;
}

.contents-right {
	background-color: #E6E6E6;
	width: auto;
}